.container{
    min-height: 10rem;
    background-color: white !important;
    margin-top: 0rem !important;
}
.card{
    background-color: #f8f2f2;
    min-height: 27rem;
}
.card-body{
    overflow-y: hidden;
}
.card-img-top{
    width: 15rem;
    height: 15rem !important;
    margin-top: 2rem;
    border-radius: 50%;
}
.cardcontainer{
    display: flex;
    justify-content: center;
}