.container{
    min-height: 10rem;
    background-color: white !important;
    margin-top: 0rem !important;
}
.card{
    background-color: #f8f2f2;
    min-height: 27rem;
}
.card-body{
    overflow-y: hidden;
}
.card-img-top{
    width: 15rem;
    height: 15rem !important;
    margin-top: 2rem;
    border-radius: 50%;
}
.cardcontainer{
    display: flex;
    justify-content: center;
}
.rounded-pill{
    border: thin solid #eba384;
    margin: auto;
}
.moreBtn{
    position: relative;
    top: -4rem;
    background-color: white;
    border: thin solid #ff4d00;
    color: #ff4d00;
    font-size: 1.2rem;
}
.moreBtn:hover{
    background-color: #ff4d00;
    color: white;
    border: none;
}
@media screen and (max-width:600px){
    .rounded-pill{width: 82%;}
    .moreBtn{width: 60%;}
}