*{
    overflow-x: hidden;
}
h1{
    margin-top: 5.7rem;
    margin-left: var(--marginleft);
    font-size: 3.3rem;
    line-height: 4.5rem;
}
:root{
    --marginleft: 5rem;
}
.ord{
    color: var(--buttonColor) !important;
}
/* .mainfood{
    margin-top: 4.5rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
} */
p{
    margin-left: var(--marginleft) !important;
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.orderButton{
    margin-left: var(--marginleft);
    background-color: var(--buttonColor);
    color: white !important;
    border: none;
    border-radius: 10px;
    padding: 5px 2px 5px 2px;
}
.orderButton:hover{
    background-color: #8a2d06;
    color: white;
}
.partners{
    font-size: 1rem;
    margin-top: -1.3rem;
}
.mainfood{
    margin-top: -6.9rem;
    width: 27rem;
    height: 31rem;
    border-radius: 50%;
}
.px-4{
    font-size: 1.3rem !important;
}
@media screen and (max-width:1000px) {
    .mainfood{
        margin-left: var(--marginleft);
    }
}
@media screen and (max-width:550px) {
    h1{
        margin-top: 2rem;
        margin-left: 1.5rem;
        margin-right: 1.2rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    p{
        line-height: 1.8rem;
        margin-left: 1.5rem !important;
        font-size: 1.2rem;
    }
    .orderButton{
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    .mainfood{
        height: 23rem;
        width: 22rem;
        display: block;
        margin: auto;
        margin-top: -4rem;
    }
    .impressions{
        display: block;
       
    }
    .partners{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}
@media screen and (min-width:1000px) {
    .impressions{
        display: flex;
        justify-content: center;
    }
    .px-4{
        font-size: 1.6rem !important;
    }
}