@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
:root{
    --mainColorLight: #ffe9e0;
    --secondaryColor: #b3400f;
    --buttonColor: #ff4d00;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    background-color: var(--mainColorLight);
    color: var(--textColor);
}
nav{
    padding-top: 0rem;
}
nav a{
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif !important;
    color: black;
    text-decoration: none;
}
nav a .active{
    color: var(--buttonColor);
}
nav a:hover{
    color: var(--secondaryColor);
}
h4{
    margin-left: 1.5rem;
    margin-top: -2rem;
}
.loginbtn{
    border: thin solid var(--buttonColor);
    background-color: var(--mainColorLight);
    border-radius: 10px;
    padding: 12px 2px 12px 2px;
    margin-left: 2rem;
}
.loginbtn a{
    color: var(--buttonColor)
}
.signupbtn{
    background-color: var(--buttonColor);
    color: white !important;
    border: none;
    border-radius: 10px;
    padding: 12px 2px 12px 2px;
    margin-left: 1rem;
}
.signupbtn a{
    color: white;
}
.signupbtn:hover, .signupbtn2:hover{
   background-color: #8a2d06;
}
.signupbtn a:hover{
    color: var(--mainColorLight);
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    font-size: 2rem;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}
.userEmail{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 1rem;
    color: #8a2d06;
}
.userEmail:hover{
    color: var(--buttonColor);
}
.cartBtn{
    border: 1.9px solid #df4604;
}
.cartIcon, .person{
    height: 1.8rem;
    width: 1.8rem;
    margin-bottom: 0.4rem;
    margin-right: 0.3rem;
}
.cartBtn a{
    color: var(--buttonColor) !important;
    font-size: 1.3rem !important;
    letter-spacing: 0.06rem;
    margin-top: 4rem !important;
}
.cartBtn a:hover{
    color: white !important;
}
.cartBtn a span{
    font-size: 1.5rem;
}
.cartBtn:hover{
    background-color: #f85814;
}
.fs-7{
    font-size: 1.15rem !important;
}

@media screen and (min-width: 881px) and (max-width: 1090px) {
    nav a{
        margin: 0 0.5rem;
    }
    header{
        padding-top: 0rem;
    }
    h4{
        margin-top: -2rem;
    }
    .cartBtn{
        margin: 0 !important;
        margin-left: -2rem;
    }
}

@media screen and (max-width: 880px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    /* small{
        margin-top: 3rem;
    } */
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
        background-color: var(--mainColorLight);
        transition: 2sec;
        transform: translateY(-100vh);
    }
    .d-lg-none{
       visibility: visible;
        height: 35px;
        width: 35px;
    }
    header .responsive_nav{
        transform: none;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    /* nav a{
        font-size: 1.5rem;
        animation-name: slide;
        animation-duration: 1.2secs;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    } */
    h4{
        margin-left: 1rem;
    }
    .loginbtn, .signupbtn{
        margin-left: 0rem;
    }
    .navCart{
        position: relative;
        left: 4.5rem;
    }
    .cartNavNo{
        position: relative;
        left: 4.5rem;
        color: #df4604 !important;
    }
    .pe-lg-0{margin-top: 3.4rem !important;}
    
    /* @keyframes slide {
        0% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(55px)
        }
    } */
}

@media screen and (max-width: 500px) {
    .fs-7{
        font-size: 1.15rem !important;
    }
    nav .nav-close-btn{
        right: 2rem;
    }
    .nav-open-btn{
        margin-left: 45%;

        margin-bottom: -1%;
    }
    nav a{
        font-size: 1.15rem;
    }
}   
@media screen and (min-width: 1250px) {
    .userEmail{
        margin-left: 5rem;
        font-size: 1.2rem;
    }
}